/*nor*/
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*lib*/
.row::after {
    content: "";
    display: block;
    clear: both;
}

/*cus*/
.main_page {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
    background-color: #afafaf;
}

/*헤더*/
header > .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #999;
}

header > .menu {
    position: relative;
    float: right;
    width: 600px;
    margin-top: 60px;
    background-color: #888;
}

header > .menu li {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}

header > .menu li a {
    padding: 10px;
    display: block;
    font-size: 15px;
    color: #fff;
}

header > .menu li:hover > a {
    background-color: white;
    color: rgba(0, 0, 0, .4);
}


header > .menu li ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 40px;
    background-color: black;
    z-index: 1;
}

header > .menu li ul.submenu li {
    width: 100%;
}

.menu-bg {
    display: none;
    width: 1200px;
    height: 160px;
    background-color: pink;
    position: absolute;
    left: -600px;
    top: 40px;
}


/*슬라이드*/
.slide {
    height: 300px;
    background-color: #777;
}

/*컨텐츠*/
.contents > div {
    width: 400px;
    height: 200px;
    float: left;
}

.contents > .notice {
    background-color: #666;
}

.contents > .banner {
    background-color: #555;
}

.contents > .shortcut {
    background-color: #444;
}

/*푸터*/
footer > .foot-logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #333;
}

footer > .copyright {
    float: left;
    width: 700px;
    height: 100px;
    background-color: #888;
}

footer > .sns {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #999;
}
