/*nor*/
body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/*lib*/
.row::after{
    content: "";
    display: block;
    clear: both;
}

/*cus*/
.main_page {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 700px;
    background-color: #afafaf;
}
/*헤더*/
header > .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #999;
}

header > .menu {
    float: left;
    width: 950px;
    height: 100px;
    background-color: #888;
}
/*슬라이드*/
.slide {
    height: 300px;
    background-color: #777;
}
/*컨텐츠*/
.contents > div {
    width: 400px;
    height: 200px;
    float: left;
}

.contents > .notice {
    background-color: #666;
}

.contents > .banner {
    background-color: #555;
}

.contents > .shortcut {
    background-color: #444;
}

.layer {
    display: none;
    width: 500px;
    height: 500px;
    background-color: brown;
    border:5px solid gold;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    z-index: 100;
}

.layer h2, .layer button {
    padding: 20px;
}

.layer button {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.layer-bg {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
}



/*푸터*/
footer > .foot-logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #333;
}

footer > .copyright {
    float: left;
    width: 700px;
    height: 100px;
    background-color: #888;
}

footer > .sns {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #999;
}